body{
    margin: 0%;
    padding: 0%;
   
}
.fnav{
    width: 100%;
    display: flex;
    background-color: aliceblue;
    height: 50px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.fnav-left ul{
    
    display: flex;
    list-style: none;
   
    
}
.logo{
    width: 200px;
    display: flex;
    margin-left: 20px;
}
.logo img{
    width: 55%;
}
.fnav-left input{
    width: 550px;
    height: 25px;
    text-align: center;
    right: 50px;
    margin-right: 250px;
    text-align: start;
    border: .5px  solid rgb(99, 97, 97);
    border-radius: 5px;
}


.fnav-right ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

}
.fnav-right button{
    background-color: rgb(201, 74, 74);
    color: white;
    border: 0px;
    height: 25px;
    border-radius: 8px;
}
.secnav{
    display: flex;
    
}
.secleft{
    display: flex;
    list-style: none;
    width: 50%;
    gap: 30px;
}
.secright{
    display: flex;
    list-style: none;
    width: 50%;
    gap: 30px;
    justify-content: end;
    margin-right: 30px;
    
}
.fh1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.fh1 h1{
    margin-left: 30px;
}
.fh1 p{
    margin-right: 30px;
}
.fslide{
    display: grid;
    grid-template-columns: 1000px 1000px 1000px;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: thin;
    column-gap: 30px;
    margin: 0px 30px;
    

}
.fslide img{
    border-radius: 25px;
  
    object-fit: cover;
    width: 1000px;

}
.movies1{
    display: grid;
    width: 100%;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
 
   overflow-y: hidden;
   overflow-x: scroll;
    gap: 10px;
   
    text-align: start;
}
.movies1 img{
    height: 400px;
    object-fit: cover;
    border-radius: 13px;
}
.movies1 h3,h5{
    margin-left: 15px;
    font-family: sans-serif;;
}
.section2{
    width: 100%;
    display: flex;
    justify-content: center;
   margin-top: 70px ;
   margin-bottom: 30px;
}
.section2 img{
    width: 90%;
}
.section33{
    padding: 20px;
}
.section3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 40px;
    
}
.section3 img{
    object-fit: cover;
    width: 200px;
}
.section4{
    background-color:rgb(43, 49, 72) ;
    width: 100%;
    
}
.section4 img{
    width: 90%;
    padding: 10px;
}
.movies2{
    display: grid;
    width: 100%;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    object-fit: contain;
 
   /* overflow-y: scroll; */
   /* overflow-x: scroll; */
    /* gap: 10px; */
   
    text-align: start;
}
.movies2 img{
    
    height: 350px;
    border-radius: 13px;
}
.movies2 h5{font-size: medium;
color: white;}
.movies2 h3 ,h5{
    margin-left: 15px;
    font-family: sans-serif;
    font-size: large;
    font-weight: 200;
    color: white;
}
.movies3{
    display: grid;
    width: 100%;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    object-fit: contain;
    
 
   /* overflow-y: scroll; */
   /* overflow-x: scroll; */
    /* gap: 10px; */
   
    text-align: center;
}
.movies3 img{
    
    height: 350px;
    border-radius: 13px;
}
.movies3 h5{font-size: medium;
                margin-top: 0%;}
.movies3 h3,h5{
    margin-left: 15px;
    font-family: sans-serif;
    font-size: large;
    font-weight: 200;
    color: rgb(0, 0, 0);
}
.movies4{
    display: grid;
    width: 100%;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    object-fit: contain;
    
 
   /* overflow-y: scroll; */
   /* overflow-x: scroll; */
    /* gap: 10px; */
   
    text-align: center;
}
.section5{
    padding: 20px;
}
.movies4 img{
    
    height: 400px;
    border-radius: 13px;
}
.movies4 h5{font-size: medium;
    margin-top: 0%;}
.movies4 h3,h5{
margin-left: 15px;
font-family: sans-serif;
font-size: large;
font-weight: 200;
color: rgb(0, 0, 0);
}
.section6{
    padding: 20px;}
.movies5{
    display: grid;
    width: 100%;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    object-fit: contain;
    
 
   /* overflow-y: scroll; */
   /* overflow-x: scroll; */
    /* gap: 10px; */
   
    text-align: center;
    }
.movies5 img{
    
    height: 400px;
    border-radius: 13px;
}
.movies5 h5{font-size: medium;
    margin-top: 0%;}
.movies5 h3,h5{
margin-left: 15px;
font-family: sans-serif;
font-size: large;
font-weight: 200;
color: rgb(0, 0, 0);
}
.section7{
    padding: 20px;}
.movies6{
    display: grid;
    width: 100%;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    object-fit: contain;
    
 
   /* overflow-y: scroll; */
   /* overflow-x: scroll; */
    /* gap: 10px; */
   
    text-align: center;
    }
.movies6 img{
    
    height: 400px;
    border-radius: 13px;
}
.movies6 h5{font-size: medium;
    margin-top: 0%;}
.movies6 h3,h5{
margin-left: 15px;
font-family: sans-serif;
font-size: large;
font-weight: 200;
color: rgb(0, 0, 0);
}
/* .section8{
    display: flex;
    justify-content: space-between;
   
    list-style: none;
    /* align-items: center; 
}
.section8 li{
    background-color:white;
    padding: 20px;
    font-family: sans-serif;
     font-size: 20px; 
    text-align: center;
    
    

}  */
.part2{
    width: 100%;
    height: 270px;
    /* background-color: burlywood; */
    margin: 0px;
    padding-bottom: 30px;
    
}
.part2 h2{
    /* margin-left: 150px; */
    font-family: sans-serif;
    color: #363535;
    padding-left: 20px;
}
.namegrid{
    margin-left: 150px;
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: 150px 120px 230px 100px 160px 120px 100px  ;
    grid-template-rows:70px;
    max-width: 1200px;
    gap: 20px;
    /* justify-content: center; */
    align-items: center;
}
.movies{
    background-color: #ffffff;
    border: 1px solid #4040431f;
    /* width: 150px; */
    height: 70px;
    border-radius: 5px;
}
.movies h3{
    margin: 0px;
    margin-top: 20px;
    margin-left: 15px;
    font-family: sans-serif;
    color:#ec5e71;
    font-size: 16px;
    font-weight: 600;
}
.movies h4{
    margin: 0px;
    margin-left: 15px;
    font-family: sans-serif;
    color:#2b3148;
    font-size: 14px;
    font-weight: 400;
}
.footer{
    width: 100%;
    height: 1310px;
    background-color: #333338;
}
.footer2{
    margin-left: 150px;
    /* background-color: #979393; */
    width: 81%;
    height: 60px;
    display: grid;
    grid-template-columns: 30px 900px 150px;
    color: #f3f0f0;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    position: relative;
    /* margin-top: 30px; */ 
}
.hut{
    margin-top: 20px;
    height: 40px;
    
}
.footer2 h3{
    margin-top: 30px;
    font-weight: 600;
    word-spacing: 0.001px;
    letter-spacing: 0.001;
    height: 50px;
}
.footer2 h2{
    position: absolute;
    left:89%;
    margin-top: 20px;
    /* margin-left: 150px;   */
    color: #f3f0f0;
    font-family: sans-serif;
    font-size: 16px;
    border: 1px solid #ec5e71;
    height: 30px;
    width: 150px;
    background-color: #ec5e71;
    padding-top: 10px;
    border-radius: 5px;
}
.customer{
    width: 100%;
    background-color: #5d5d5f71;
    height: 80px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    justify-content: space-evenly;
}
.icons{
    /* background-color: aqua; */
    filter: invert(80%);
}
.customer2{
    width: 100%;
    background-color: #5d5d5f71;
    height: 20px;
    display: flex;
    display: grid;
    grid-template-columns: 250px 200px 200px;
    justify-content: space-evenly;
    gap: 10px;
}
.names{
    /* background-color: bisque; */
}
.names h6{
    margin: 0;
    /* margin-left: 10px; */
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 100;
    color: #979393;
    text-transform: capitalize;
}
.cust{
    padding-left: 100px;
}
.sub{
    margin-left: 0px;
}
.footer3{
    margin-left: 150px;
}
.session17{
    display: flex;
    width: 100%;
    height: 790px;
    background-color: #333338;
    
    
}
.s17_2{
    width: auto;
    height: auto;
    margin-left: 10%;
   
}
.s17_2 dt{
    color: #A5A5A5;
    margin: 0px 0px 20px;
    font: 12px roboto,sans-serif;
    font-size: 12px;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    margin: 20px 0px 20px;
    color: rgb(165, 165, 165);
}
.s17_2 dd{
    color: rgb(127, 127, 127);
    margin-left: 0px;
    margin: 0px 5px 5px 0px;
    font: 11px roboto,sans-serif;

}
.session17 a{
    font-size: 11px;
    color: rgb(127, 127, 127);
    letter-spacing: 0.1px;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
    margin: 0px 5px 5px 0px;
    padding-right: 5px;
    border-right: 1px solid rgb(127, 127, 127);
}


.session18{
    
    width: 100%;
    height: 200px;
    background-color: #333338;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    
}
.s18d{
    position: relative;
    margin-top: 6%;
    width: 95%;
    margin-left: 30px;
    flex: 1 1 0%;
    height: 1px;
    background: rgb(93, 93, 95);
}
.s18img{
    cursor: pointer;
    position: relative;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    background-color:#333338;
    /* background-image: url('./images/logo.svg'); */
    background-repeat: no-repeat;
    background-size: contain;
    bottom:30px ;
    left: 43%;
    z-index: 100;
    

}
.s18img img{
    /* margin-left: 40px; */
}
.social{
    height: 40px;
    display: grid;
    width: 100%;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    /* background-color: #ec5e71; */
    align-items: center;
    justify-content: center;
}
.socialimg{
    height: 40px;
    filter: invert(50%);
    opacity: 0.5;
}
.context{
    margin-top: 250px;
    color: #a5a5a575;
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
}
svg:hover{
    color: #c71616;
    border-radius: 50%;
    opacity: 0.1;
}
.big{
    width: 100%;
}
.child{
    width: 100%;
    background-image: linear-gradient(90deg,rgb(26,26,26)38.3%,rgba(26,26,26,0.4)97.47%,rgb(26,26,26)100%), url("img/paniiii");
    background-size: cover;
    height: 600px;
    
   
}
.small{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: white;
}
.small1{
    display: flex;
    margin: 25%;
    color: white;
}
.small1 img{
    border-radius: 45px;
}
.small1 ul h1{
    font-size: 55px;
}
.rating li{
    list-style: none;
    display: flex;
    gap: 5px;
    
}
.td{ list-style: none;
    display: flex;
}

